<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1019008739849-bsf283u3c4gl0skogsk833grs0hgqtj6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1019008739849-bsf283u3c4gl0skogsk833grs0hgqtj6</string>
	<key>API_KEY</key>
	<string>AIzaSyB58ivEW79rgW0QaQg9spwnm4Dm-8Ed4ic</string>
	<key>GCM_SENDER_ID</key>
	<string>1019008739849</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>do-hee-kim.CreditCardList</string>
	<key>PROJECT_ID</key>
	<string>creditcard-list-d8c80</string>
	<key>STORAGE_BUCKET</key>
	<string>creditcard-list-d8c80.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1019008739849:ios:dbe41dcb9f9085b13366d8</string>
</dict>
</plist>